* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9ad0c2;
    text-align: center;
}

.cointainer {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 5vmin;
    background-color: #304d30;
    color: white;
    box-shadow: 0 0 1rem green;
    font-size: 6vmin;
}

.box:hover {
    background-color: #f9b572;
}

#reset {
    height: 8vmin;
    font-size: 3vmin;
    width: 20vmin;
    background-color: rgb(217, 37, 37);
    color: white;
    border-radius: 2vmin;
}

#nGame {
    height: 8vmin;
    font-size: 3vmin;
    width: 20vmin;
    background-color: rgb(57, 6, 6);
    color: white;
    border-radius: 2vmin;
}

marquee {
    color: rgb(62, 70, 49);
    background-color: rgb(94, 164, 224);
    text-shadow: 0 0 10px green;
    font-size: 4vh;
}

#hide {
    display: none;
}

#msg {
    font-size: 5vmin;
    text-shadow: 0 0 1vmin red;
}

.hide {
    display: none;
}